.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.X {
    width: 30%;
}

.Registro, .Generador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    margin-top: 5%;
    font-size: 24px;
    border-radius: 10px;
    border: #B3764E solid 2px;
    padding: 10px;
}

.confirmar,.boton-generar , .boton-copiar {
    margin-top: 5%;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    padding: 2%;
    background-color: #B3764E;
    color: white;
    border: none;
}

.confirmar:hover, .boton-generar:hover , .boton-copiar:hover {
    color: #B3764E;
    background-color: white;
    transition: all ease-in-out 0.3s;
}

.error {
    color: red;
    font-size: 20px;
    border-bottom: 2px solid red;
}

.codigo-generado {
    border-radius: 10px;
    border: solid 2px #B3764E;
    padding: 10px;
}

.boton-generar-block,.boton-copiar-block{
    display: none;
}


.copiado {
    color: rgb(33, 165, 26);
}
